.sweat{
    background-color: rgb(245 245 245);
    font-size: 30px;
    color: rgb(33 37 41);
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
    padding: 30px 0px 20px 0px;
}
.ports{
    background-image: url('D:\apmlework\src\assets\Group 12766.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.newpara{
    font-size: 16px;
    color: white;
    line-height: 35px; 
}
.apple{
  
    border: 1px solid white;
    border-radius: 5px;
}
.down{
    line-height: 10px;
}
.line{
    line-height: 50px;
    font-size: 40px;
}
.success{
    line-height: 5px;
}
 