/* growingyourbusiness */


 .growingyourbusiness{
    background-color: rgb(245 245 245);
    padding-top: 6rem;
    padding-bottom: 6rem;
  
}
.leaveheading{
    letter-spacing: 1px;
    color:  rgb(33 37 41);
    font-weight: 600;
    line-height: 50px;
    padding-bottom: 1rem;
    font-stretch: normal;
     
}
.leavepara{
  font-size: 18px;
  letter-spacing: 1px;
  color: rgb(90, 90, 89);

}
 
/* serviceSoftware */

.servicemaintenance{
    background-color:rgb(255 255 255);
    padding-top: 6rem;
    padding-bottom: 6rem;
    
}
.software-heading{
    letter-spacing: 1px;
    color:  rgb(33 37 41);
    font-weight: 600;
    line-height: 50px;
    padding-bottom: 1rem;
    font-stretch: normal;
    text-align: center;
}
.software-para{
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(90, 90, 89);
    text-align: center;
    padding-bottom: 2rem;
}
.antivirus{
    background-color: 
    rgb(240 100 102);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px -8px 0px 5px 
    rgb(255 225 225);
     
}
.antivirus1{
    background-color: 
    rgb(158 109 175);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px -8px 0px 5px 
    rgb(238 208 248);
}
.antivirus2{
    background-color:
rgb(247 164 87);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 10px -8px 0px 5px 
rgb(255 229 204);
}
.antivirus3{
    background-color:rgb(55 189 234);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 10px -8px 0px 5px 
rgb(201 242 255);
}
.antivirus4{
    background-color: 
    rgb(244 131 98);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 10px -8px 0px 5px 
rgb(255 231 225);
}
.antivirus5{
    background-color: 
rgb(78 189 142);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 10px -8px 0px 5px 
    rgb(210 246 231);
}



.software-bugs{
    letter-spacing: 1px;
    padding-top: 2rem;
    font-weight: 500;
    color: black;
}
.software-para-hire{
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(90, 90, 89);
    padding-top: 2rem;
    
}

/* integrateprofessionnal */

.integrateprofessionnal{
    background-color: rgb(248 249 250);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.intrgate-heading{
    letter-spacing: 1px;
    color:  rgb(33 37 41);
    font-weight: 600;
    line-height: 50px;
    padding-bottom: 1rem;
    font-stretch: normal;
    text-align: center;
}
.intgate-para{
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(90, 90, 89);
    text-align: center;
    padding-bottom: 2rem;
}
.setups{
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 1rem;
    padding: 0px 0px 0px 22px;
}
.after-para{
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(90, 90, 89);
    padding: 0px 0px 0px 50px;
}
.rxdot{
    border: 1px solid gray;
    border-radius: 15px;
    line-height: 10px;
      
}
.border-bottms:before{
    content: "";
    position: absolute;
    left: 325px;
    width: 1px;
    height: 225px;
    background-color: #c4c4c4;
    opacity: 1;
}

/* accomplish */

.accomplish{
    background-color: rgb(255 255 255);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.accomplish-heading{
    letter-spacing: 1px;
    color:  rgb(33 37 41);
    font-weight: 600;
    line-height: 50px;
    padding-bottom: 1rem;
    font-stretch: normal;
    text-align: center;
}
.accomplish-para{
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(90, 90, 89);
    text-align: center;
    padding-bottom: 2rem;
}

.defaulttransport {
    display: block;
    
}
.transimageblock {
    width: 100%;
    height: 90px;
}
.departmental-hover-para {
    display: none;
    font-size: 18px;
    letter-spacing: 1px;
   
}
 
.departmentalhover:hover .defaulttransport {
    display: none;
}
.departmentalhover:hover .departmental-hover-para {
    display: block;
     margin-top: 4rem;
}
.departmentalhover {
    box-shadow: 1px 1px 10px rgb(98, 126, 126);
}
.departmentalhover:hover {
    background-color: rgb(3, 45, 226);
    color: #FFF;
    translate: -10px -20px;
    transform: scale(1.1);
    transition: 1s;
}
.stable{
    font-size: 25px;
    letter-spacing: 1px;
}

/* processcombines */
.processcombines{
    background-color: 
    rgb(17 27 81);
     padding-top: 6rem;
     padding-bottom: 6rem;
   
     
}
.process-heading{
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
    line-height: 50px;
    padding-bottom: 1rem;
    font-stretch: normal;
    text-align: center;
}
.process-bgcolor{
    background-color: 
    rgb(17 27 81);
    width: 22rem;
    border-top: "none";
    border-left: 'none';
    border-radius: 0px;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-image: 
    linear-gradient(
    to bottom, 
        rgb(204, 0, 255), 
        rgba(228, 4, 4, 20)
    ) 1 100%;
    
}
.process-bgcolor:hover{
    background-color: 
    rgb(0 92 255);
    color: #FFF;
}
.border-buttom{
    border-top: 2px solid rgb(204, 0, 255);
     
}

.process-para{
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 2rem;
}
.requi{
    letter-spacing: 1px;
}
.we-para{
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
}
.oneprocess{
     font-size: 50px;
   font-weight: 900;
    color: 
    rgb(24 36 97);
    -webkit-text-stroke: 1px #1d73f8;
}
.process-bgcolor:hover .process{
    background-color: #fff;
    border-radius: 10px;
}

/* Dreamit */
.dreamit{
    background-color:rgb(255 255 255);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.dream-heading{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.dream-para{
    padding-bottom: 2rem;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
   justify-content: center;
   
}
.dream-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 480px;
    grid-gap: 30px; 
    margin: auto 0;
   
   
}
.dream-main-card{
    padding: 0px 0px 0px 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 5px 5px rgb(242, 235, 235);
    
}
.dream-main-card:hover{
    border-bottom: 3px solid#1d73f8;
}
.dream{
    margin-top: 20px;
    font-size: 22px;
    letter-spacing: 1px;
    
}
.dreampara{
    font-size: 17px;
    margin-top: 20px;
    letter-spacing: 1px;
}
/* technicalexperties */

.technicalexperties{
    background-color: 
    rgb(255, 255, 255);
    padding-top: 6rem;
    padding-bottom: 6rem;

}
.tech-heading{
    letter-spacing: 1px;
}
.button-tech{
    background:none;
    border: 1px solid rgb(187, 182, 182);
    padding: 0px 10px 5px 20px;
    font-weight: 600;
}
/* .Roleour */
.roleour{
    background-color: 
    rgb(251, 247, 251);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.role-heading{
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 2rem;
}
.role-para{
    font-size: 18px;
    display: flex;
    justify-content: center;
  
    
}
.role-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 30px; 
    margin: auto 0;
}
.role-card-heading{
    font-size: 22px;
}
.app{
    padding: 30px 0px 10px 40px ;
    
}
.role-card-1{
    background-color: 
    rgb(245 247 251);
    border: none;
}
.role-card-2{
    background-color:rgb(3 45 226);
    color: #FFF;
    border-radius: 0px;
}