
*{
    margin: 0px;
    padding: 0px;
}
.ample{
    letter-spacing: 3px;  
    color: blue;
}
  
.setting{
    font-size: 10rem;
}
 
.para{
    color: rgb(143, 145, 147);
}
.pantagle{
  padding: 40px;
  margin-top: 5rem;
  justify-content: space-between;
}
.header{
    position: absolute;
    width: 100%;
     
}
/* APPLICATION */
.text{
    font-weight: 400rem;
   font-family: Arial, Helvetica, sans-serif;
 }
 .freequitebtn{
    margin-bottom: 6rem;
    margin-top: 3rem;
 }
 .ours{
  
   font-size: 30px;
   color: rgb(33 37 41);
   padding: 10px 0px 0px 0px;
   font-weight: 400;
   letter-spacing: 1px;
   line-height: 50px;
 }
 .application{
  width: 25rem;
 
  background-color: red;
 }