 .appreciation{
    background-color: 
    rgb(255 255 255);
 }
 .Mask{
    width: 25rem;
    box-shadow:  rgb(255, 255, 255) 20px 20px 0px -3px, rgb(222, 212, 212) 20px 20px;
    
 
 }
 .ampleworkheading{
  color: rgb(49 49 49);
 }
 .flaw{
    color: rgb(100, 105, 111);
    text-align: center;
 
 }
 .founder{
 color: rgb(180 180 180);
 }
 .iconlink{
    text-align: center;
 
}

.iconimage{
    background-color: rgb(29, 81, 255);
    font-size: 30px;
    color: white;
    padding: 2px;

 }
 
  