/* overview */
.allview{
    padding-top: 5rem;
    padding-bottom: 5rem;
   background-color:rgb(245 245 245);
 
}
.overview{
    text-align: center;
    color: blue;
    font-weight: bold;
    letter-spacing: 3px;

}
.enterpriseheading{
    text-align: center;
    color: 
    rgb(33 37 41);
    padding-bottom: 15px;
}
.with{
    text-align: center;
    font-size: 18px;
    color: rgb(95, 99, 102);
    line-height: 30px;
    padding-bottom: 3rem;
   
    
   
   
}
.entercard{
    height: 50px;
    padding: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;

    
}
.bgcolors:hover{
    background-color: blue;
    color: white;
}
.bgcolors{
    border: none;
    background-color: #fffdfd;
    box-shadow: 0px 2px 5px 0px;
}

/* .enterprise */

.enterprise{
    background-color: 
    rgb(255 255 255);
    padding-top: 6rem;
    padding-bottom: 6rem;
    
}
.enter{
    text-align: center;
    margin-bottom: 2rem;
    color: 
    rgb(33 37 41);
}
.enterpara{
    text-align: center;
    font-size: 18px;
    color: rgb(95, 99, 102);
    line-height: 30px;
    padding-bottom: 3rem;
  
  
}
.lifont{
    font-size: 18px;
    margin-top: 8px;
    word-spacing: 2px;
    letter-spacing: 2px;
}
li{
    list-style: none;
}
.letsenter{
    background-color: 
    rgb(3 45 226);
    border-radius: 0px;
    margin-top: 35px;
    font-size: 18px;
    padding: 0px; 
}


/* enterprisesoftware */

.webdevelopment{
 background-color: rgb(248 249 250);
 padding-top: 6rem;
 padding-bottom: 6rem;
 
}
/* enterpriseportal */

.enterpriseportal{
    background-color: rgb(255 255 255);
    padding-top: 6rem;
    padding-bottom: 6rem;
    
}

/* enterpriseuiux */
.enterpriseuiux{
    background-color: rgb(248 249 250);
    padding-top: 6rem;
    padding-bottom: 6rem;
    
}
/* hybridenterprise */

.hybridenterprise{
    background-color: 
    rgb(255 255 255);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* enterpriseecommerce */
.enterpriseecommerce{
    background-color: rgb(248 249 250);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* paymentgateway */
.paymentgateway{
    background-color: 
    rgb(255 255 255);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* contentmanagment */

.contentmanagment{
    background-color: 
    rgb(248 249 250);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* capabilites */

.capabilites{
    background-color:
    rgb(248 249 250);
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url("D:\apmlework\src\assets\dots.png");
    background-position: right;
    background-repeat: no-repeat;
    
}

.coreheading1{
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 2rem;
}
.cardheading2{
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.corepara1{
    letter-spacing: 1px;
    font-size: 18px;
     
    color: 
    rgb(68 68 68);
}
.cardpadding{
    
    padding: 20px 0px 0px 30px;
}
.cardpadding:hover{
    background-color: 
    rgb(3 45 226);
    color: #fff;
}
.corepara2{
    width: 250px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 1rem;
 
}
.digital{
    background-color: 
    rgb(233 241 255);
    padding: 10px;
    border-radius: 5px;
     margin-bottom: 10px;
}
.cardheading{
    font-weight: 600;
}

/* technologystack */

.technologystack{
    background-color: 
    rgb(255 255 255);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.tech{
    color: 
    rgb(33 37 41);
}
 
.techpara{
    letter-spacing: 1px;
    font-size: 18px;
    color: rgb(68 68 68);
    margin-bottom: 3rem;
}
.front{
    color: 
    rgb(3 45 226);
    padding: 0px 10px 0px 10px;
    padding-top: 2rem;
}
 
.textreact1{
    background-color: rgb(255 255 255);
    padding: 2px 20px;
    border-radius: 20px;
    border: 1px solid blue;
}
.textreact1:hover{
    background-color: #f5a503;
}
 
.technologys{
    background-color: rgb(234 243 254);
    padding: 2px 20px ;
}
.git{
    background-color: #fff;
    border-radius: 20px;
    padding: 2px 20px;
    border: 1px solid blue;
}
.git:hover{
    background-color: #f5a503;
}
.technologys:hover{
    background-color: rgb(0 48 255);
 

}
.technologys:hover .front{
    color: #fff;
}

/* benefitenterprise */

.benefitenterprise{
    background-color: rgb(245 245 245);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.benefits{
    color: rgb(33 37 41);
    text-align: center;
    letter-spacing: 1px;
    
}
.benefitpara{
    letter-spacing: 1px;
    font-size: 18px;
    color: rgb(68 68 68);
    margin-top: 15px;
    text-align: center;
}
.higher{
    color: 
    rgb(33 37 41);
    text-align: end;
    
}
 
.imghigher{
    background-color: 
    rgb(240 100 102);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
 

    
}
.scable{
    letter-spacing: 1px;    
    font-size: 17px;
    color: rgb(68 68 68);
    margin-bottom: 3rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    text-align: end;
  
   
}
.enhance{
    color: 
    rgb(33 37 41);
    
    
}
.well{
    letter-spacing: 1px;    
    font-size: 17px;
    color: rgb(68 68 68);
   
    margin-top: 1rem;
    margin-bottom: 3rem;
    
  
}
.analytics{
    background-color:
    rgb(55 189 234);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px -5px 5px 5px rgb(183, 225, 238);
}
.analticspara{
    letter-spacing: 1px;
    font-size: 18px;
    color: rgb(68 68 68);
    margin-top: 15px;
    text-align: center;
}

/* selectamplework */

.selectamplework{
    background-color: 
    rgb(248 249 250);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.reasons{
    color: 
    rgb(33 37 41);
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.selectpara{
    letter-spacing: 1px;
    font-size: 18px;
    color: rgb(68 68 68);
}
.text-350{
    color: 
    rgb(7 49 190);
    font-weight: bold;
     
}
.project{
    letter-spacing: 1px;
}
.cardprop{
    padding: 10px 0px 0px 20px;
    border-right: 1px solid wheat;
}
.textacc{
    padding: 10px 0px 0px 20px;
}
.imgselect{
    width: 100%;
    
}
.sec{
    width: 100%;
    background-color: red;
    
}