.bgcolor{
    width: 100%;
    height: 70px;
    background-color: #0326c2;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.explore-btn{

}
 
.watch{
    width: 80px;
    height: 70px;
    margin: 0px 0px 1rem;
   
}
 
.cardbackground{
    background-color: 
    #1f13f2
    ;
}
.explore-btn{
    background-color: #1f13f2;
    border-radius: 25px;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: 1px;
    color: white;
    padding: 5px 10px 8px 15px;
    font-weight: 600;
     border: 1px solid white;

}
.explore-btn2{
    background-color: transparent;
    border-radius: 25px;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: 1px;
    color: 
    rgb(245 164 3);
    padding: 5px 10px 8px 15px;
    font-weight: 600;
     border: 1px solid 
     rgb(245 164 3);

}

.containerbgcolor{
    background-color: #080a37;
    min-height: 100vh;
}
.secondcard{
    background-color:  #160746;
    border: 1px solid blue;
}
.explore{
    background-color: #160746;
}
.card2{
    background-color:  #1e0376;
    width: 80px;
    height: 70px;
    margin: 0px 0px 1rem;
    border-radius: 15px;
    padding: 7px 7px 7px 7px;
   
}
.amplelogo{
    margin-top: 5rem;
}
.isologo{
    margin-top: 4rem;
}
.linkline{
    background-color: #12152c;
}
li a{
    text-decoration: none;
    color: #9da1b2;
}
ul li a:hover{
    color: rgb(255, 255, 42);
}
.iconfooter{
    background-color: #010103;

}
.about{
    color: #9da1b2;;
}
.icon{
    font-size: 2rem;
}
.footer{
    margin-top: 5rem;
}
.footerend{
    background-color: rgb(190, 126, 53);
}
 ul li{
   list-style: none;
}
ul li{
    cursor: pointer;
    
}
 
.polygen {
    float: left;
    shape-outside: polygon(0px 0px, 0px 189px, 100.48% 94.71%, 200px 120px, 80.67% 37.17%);
    width: 200px;
    height: 200px;
    background-color:red;
}