.fascinat{
    background-color: rgb(245 245 245);
   
}
.fasci{
    font-size: 30px;
    color: rgb(33 37 41);
    margin-top: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
}
.timepara{
    font-size: 18px;
    color: rgb(100, 105, 111);
    font-family: serif;
    text-align: center;
}
.longer{
    padding: 30px;
    color: rgb(100, 105, 111);
    font-family: serif;

}
.bgfascinat :hover{
    background-color: rgb(3 45 226);
    color: white;

}
 
 