.frequen{
    background-image: url('D:\apmlework\src\assets\Group 10932.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
 
}
.accod{
    font-size: 16px;
    color: rgb(100, 105, 111);
    
}
.box{
    box-shadow: 5px 3px 10px 10px rgb(204, 193, 193);
    
   
}
