
.ample{
    letter-spacing: 3px;  
    color: blue;
}
  
.setting{
    font-size: 10rem;
   

}
 
.para{
    color: rgb(143, 145, 147);
}
.pantagle{
  padding: 40px;
  margin-top: 5rem;
  justify-content: space-between;
}