.diverse{
    background-color: rgb(255 255 255);
    
 
}
.angle{
    margin-bottom: 3rem;
}
.heading{
    font-size: 30px;
    color: rgb(33 37 41);
    margin-top: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
}
.offerpara{
    font-size: 18px;
    color: rgb(100, 105, 111);
    font-family: serif;
   
}
.cardbg{
    background-color:rgb(124 8 185);
    color: white;
    
 
}
.colorpink{
    background-color:
    rgb(184 147 9);
    color: white;
}
.bggreen{
    background-color:rgb(0 132 92);
    color: white;
}