.digitalize{
    background-color:rgb(245 245 245);

} 
.digit{
    font-size: 30px;
    color: rgb(33 37 41);
    margin-top: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
    text-align: center;

}
 .card1{
    width: 18rem;
 }