.stack{
    background-color: rgb(245 245 245);
}
.fullcard{
    background-image: url('D:\apmlework\src\assets\Group 10063.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 10px 40px 10px;
    border-radius: 20px;
}
.dedicated{
    font-size: 30px;
    font-weight: 600;
}
.ourpara{
    font-size: 18px;
    color: rgb(100, 105, 111);
    font-family: serif;
    text-align: center;
    
}
.cardimage{
    width: 15rem;
}
.border{
    border: 2px solid red;
    padding: 10px;
    border-radius: 50px 20px;
      
}
.cardbg{
    background-color: #dec8c8;
}
 