 *{
    padding: 0px;
    margin: 0px
 }
 .integration{
    background-color: rgb(255 255 255);
    padding-top: 6rem;
    padding-bottom: 6rem;

}
.mobilityample{
    font-weight: bold;
    color: blue;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.mobileheading{
    font-weight: 600;
    letter-spacing: 1px;
}
.mobilitypara{
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 30px;
}
/* experienanceinnvoate */

.innvoate{
    background-color: 
rgb(245 245 245);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.innovateheading{
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}
.innovatepara{
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    color: 
    rgb(33 37 41);
    margin-top: 10px;
}
.innovatecard{
    background-color: 
    rgb(245 164 3);
    padding: 20px 15px 15px 30px;
    
}
.cardheading{
    letter-spacing: 1px;
}
.cardpara{
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 25px;
    color: 
    rgb(33 37 41);
    padding-bottom: 9rem;
   
}
.innovatecard2{
    background-color: 
    rgb(40 167 69);
    padding: 20px 15px 15px 30px;
}
.innovatecard4{
    background-color: 
    rgb(141 0 168);
    padding: 20px 15px 15px 30px;
}
.innovatecard5{
    background-color: 
    rgb(255 0 128);
    padding: 20px 15px 15px 30px;
}
.globalheading{
    letter-spacing: 1px;
}
.globalpara{
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 25px;
    color: 
    rgb(33 37 41);
}
.innovatecard3{
    background-color: 
rgb(0 152 249);
    padding: 20px 15px 15px 30px;
}

/* inhanceroi  */

.inhanceroi{
    background-color: rgb(255 255 255);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.enhanceheading{
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 2rem;
}
.enhancepara{
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    color: 
    rgb(33 37 41);
    padding-bottom: 1rem;
    
}
.cardinhance1{

    font-weight: 400;
    letter-spacing: 1px;
    padding: 20px 0px 0px 15px;
 
}

.inhance-border {
    display: inline-block;
    color: 
     black;
    
}

.inhance-border::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: 
    rgb(29 115 248);
    transition: width 1s;
}

.inhance-border:hover::after {
    width: 35%;
   
}
.cardinhancepara{
    padding: 20px 0px 0px 25px;
    letter-spacing: 1px;
    font-size: 18px;
    color: 
    rgb(33 37 41);
}

/* reasontochoose */

.reasontochoose{
    background-color: rgb(29 115 248);
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url('D:\apmlework\src\assets\image1.png'), url( "D:\apmlework\src\assets\ic_map.png"),url('D:\apmlework\src\assets\image_11.png');
    background-position:  left top, center, right bottom;
    background-repeat: no-repeat, no-repeat no-repeat;
    padding: 15px;
}
.reasoncontainer{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.asia{
    background-position: center;
}
.reasonheading{
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 1rem;
  
 
}
.reasonpara{
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 30px;
    color: 
    rgb(33 37 41);
   
}
.text350{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 0px;
    
}
.text350para{
    font-weight: bold;
    letter-spacing: 2px;
   padding-bottom: 15px;
    

}
.text500para{
    font-weight: bold;
    letter-spacing: 2px;
 
     
}
 
.borderbuttom{
    border-top: 1px solid white;
    
   
}
.borderchosse{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

/* categoryphases */
 .categoryphases{
    background-color: rgb(255 255 255);
    padding-top: 6rem;
    
 }
 .categoryheading{
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 1rem;
 }
 .categorypara{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    color: 
    rgb(33 37 41);
    padding-bottom: 1rem;
 }
 .objectimg{
      text-align: center;
      
 }
 .onenumber{
    justify-content: center;
    align-items: center;
    font-size: 150px;
    font-weight: 400;
    color: #fff;
    -webkit-text-stroke: 1px #1d73f8;
 }
 
 .oneheading{
    justify-content: center;
    align-items: center;
 }
 .categoryonepara{
    font-size: 18px;
    letter-spacing: 1px;
    color: 
    rgb(33 37 41);
    justify-content: center;
    align-items: center;
   
 }
 .expense{
    padding-bottom: 6rem;
 }
 /* brandcollaborated */
.brandcollaborated{
    background-color:rgb(255 255 255);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.brandheading{
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.brandpara{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    color: 
    rgb(87, 89, 92);
    padding-bottom: 1rem;
}
.brandcard{
    width: 15rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
    border-top: none;
    border-radius: 0px;
    border-left: 0px;
}
.brandcard1{
    width: 15rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
    border-top: none;
    border-radius: 0px;
    border-left: 0px;
    border-bottom: 0px;
    
}
.brandcard2{
    width: 15rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
    border-top: none;
    border-radius: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
}
.brandcardmotil{
    width: 15rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
    border-top: none;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}
.brandcardlayer{
    width: 15rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
    border-top: none;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}

/* engagementalmodal */

.engagementalmodal{
     background-image: url('D:\apmlework\src\assets\Engagemental.png');
     background-repeat: no-repeat;
     background-size: cover;
     padding-top: 6rem;
     padding-bottom: 4rem;
}
.engagemental{
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.cardengagemental{
    color: rgb(7 49 190);
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 1px;
    border-bottom: 2px solid
    rgb(10 165 155);
}
.engagepara{
    font-size: 18px;
    letter-spacing: 1px;
    color: 
    rgb(87, 89, 92);
    padding-bottom: 1rem;
}
.engcardbg{
    background-image: url('D:\apmlework\src\assets\cardbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.engpara{
    font-size: 18px;
    letter-spacing: 1px;
    color: 
    rgb(87, 89, 92);
    padding-bottom: 1rem;
}
 
.hourlyeng{
    letter-spacing: 1px;
    color: 
    rgb(7 49 190);
}
.cardparaclients{
    font-size: 18px;
    letter-spacing: 1px;
    color: 
    rgb(87, 89, 92);
   
}
.billingpara{
    font-size: 18px;
    letter-spacing: 1px;
    color: 
    rgb(87, 89, 92);
    padding-bottom: 1rem;
}
.long{
    font-size: 18px;
    letter-spacing: 1px;
    color: 
    rgb(87, 89, 92);
    
}
 .borderbottom {
    border-bottom: 2px solid #032de2;
    width: 50%;
}
.borderbottoms{
    border-bottom: 2px solid white;
    width: 60%;
  
}
.cardenter{
    background-color: 
    rgb(7 49 190);
    position: relative;
}
.recommendedimg {
    margin-top: -25px!important;
    position: absolute!important;
    height: 60px!important;
    z-index: 100; 
}
.buttonengage{
    border-radius: none;
    background-color: rgb(7 49 190);
    border: none;
    font-size: 18px;
 
    
}
/* departmentalBrand */

.departmentalBrand{
    background-color: rgb(237, 238, 239);
    padding-top: 6rem;
    padding-bottom: 6rem;
    
}
.departmentalheading{
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.departpara{
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    color: 
    rgb(87, 89, 92);
    padding-bottom: 1rem;
}

.defaulttransport {
    display: block;
}
.transimageblock {
    width: 100%;
    height: 120px;
}
.departmental-hover-para {
    display: none;
}
.departmentalhover:hover .defaulttransport {
    display: none;
}
.departmentalhover:hover .departmental-hover-para {
    display: block;
}
.departmentalhover {
    box-shadow: 1px 1px 10px darkslategrey;
}
.departmentalhover:hover {
    background-color: rgb(3, 45, 226);
    color: #FFF;
    translate: -10px -20px;
    transform: scale(1.1);
    transition: 1s;
}

/* differentplatfrom*/
.differentplatfrom{
    background-color: 
    rgb(255 255 255);
    padding-top: 6rem;
    padding-bottom: 6rem;
   
}
.processheading{
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 1rem;
 
}
.processpara{
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    color: 
    rgb(87, 89, 92);
    padding-bottom: 3rem;
    
}
.one{
    background-color: #ffe1e1;
    width: 80px;
    height: 80px;
    line-height: 70px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: #f06466;

}
.one2{
    background-color: 
    rgb(238 208 248);
    width: 80px;
    height: 80px;
    line-height: 70px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: 
    rgb(158 109 175);
}
.one3{
    background-color: 
    rgb(255 229 204);
    width: 80px;
    height: 80px;
    line-height: 70px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(247 164 87);
}
.one4{
    background-color: 
        rgb(201 242 255);
        width: 80px;
        height: 80px;
        line-height: 70px;
        text-align: center;
        font-weight: 900;
        font-size: 30px;
        color: rgb(55 189 234);
}
.one5{
    background-color: 
    rgb(210 246 231);
    width: 80px;
    height: 80px;
    line-height: 70px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color:  
    rgb(78 189 142);
}
.one6{
    background-color:  
    rgb(180 208 255);
    width: 80px;
    height: 80px;
    line-height: 70px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(89 148 245);
}

.gathering{
    letter-spacing: 1px;
    font-weight: 400;
    padding: 0px 0px 0px 30px;
}
.identify{
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 1rem;
    color: 
    rgb(87, 89, 92);
     
}
.horizontal_dotted_line{
    border-left: 5px dotted rgb(255 225 225);
    height: 200px;
    margin-left: 55px;
    
    
}

.technologystack{
    padding-bottom: 6rem;
}
@media screen and (max-width: 900px) {
    .horizontal_dotted_line{
        border-left: 5px dotted rgb(255 225 225);
        height: 200px;
        margin-left: 55px;
        visibility: hidden;
        
        
    }
  }
 

 
 
 
 
 
 
  