
*{
    margin: 0px;
    padding: 0px;
}
.ample{
    letter-spacing: 3px;  
    color: blue;
}
  
.setting{
    font-size: 10rem;
}
 
.para{
    color: rgb(143, 145, 147);
}
.pantagle{
  padding: 40px;
  margin-top: 5rem;
  justify-content: space-between;
}


/* navbar */


.header{
    position: absolute;
    width: 100%;
     
}
.navimg{
    width: 50%;
 
}
 
/* APPLICATION */
.text{
    font-weight: 400rem;
   font-family: Arial, Helvetica, sans-serif;
 }
 .freequitebtn{
    margin-bottom: 6rem;
    margin-top: 3rem;
 }
 .ours{
  
   font-size: 30px;
   color: rgb(33 37 41);
   padding: 10px 0px 0px 0px;
   font-weight: 400;
   letter-spacing: 1px;
   line-height: 50px;
 }
 .application{
  width: 25rem;
 
  background-color: red;
 }
 /* Activites */

 .bgColor{
    background-color: rgb(250 250 250);
}
.bugs{
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: rgb(240 100 102);
    box-shadow: 5px -5px 1px 2px #e09292;
}
.textpara{
    font-size: 18px;
    width: 130px;
    height: 100px;
}
.amplework{
    font-size: 30px;
    color: rgb(33 37 41);
    padding: 10px 0px 0px 0px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
}
.ampleworkpara{
    line-height: 30px;
}

/* typeofApps */

.section-6{
    background-color:rgb(255 255 255);
    padding: 100px 0px 0px 0px;
    
}
 
.monitor1{
    font-size: 40px;
    margin-bottom: 35px;
 
}
.keep{
  font-weight: 600;
  color: rgb(245 164 3);
  letter-spacing: 3px;
}
.types{
    font-size: 30px;
    color: rgb(33 37 41);
    padding: 10px 0px 0px 0px;
    font-weight: 400;
    letter-spacing: 1px;
    
}
.lorem{
    font-size: 18px;
    color: rgb(100, 105, 111);
    font-family: serif;
}
.mointortitle1{
    font-family: serif;
    font-weight: 600;

}
.monitorpara1{
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-family: serif;
    text-align: center;
 
}

/* softwareupdate */

.software{
    background-color: rgb(250 250 250);
}
.lets{
    font-size: 30px;
    color: rgb(33 37 41);
    padding: 10px 0px 0px 0px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
}
.ipsum{
    padding: 20px 0px 0px 0px 0px;
    font-size: 18px;
    color: rgb(100, 105, 111);
    font-family: serif;
}
.arow{
    font-size: 4rem;
    
}
.fixed{
    padding: 12px 12px 12px 12px;

}
.fixed:hover{
    border: 4px dashed rgb(6 21 114);
  
} 
.bgcolors:hover{
    background-color: rgb(6 21 114);
    color: white;

}
.bluecard{
    margin-bottom: 5rem;
    margin-top: 2rem;
}
 
/* fascint */

.fascinat{
    background-color: rgb(245 245 245);
   
}
.fasci{
    font-size: 30px;
    color: rgb(33 37 41);
    margin-top: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
}
.timepara{
    font-size: 18px;
    color: rgb(100, 105, 111);
    font-family: serif;
    text-align: center;
}
.longer{
    padding: 30px;
    color: rgb(100, 105, 111);
    font-family: serif;

}
.bgfascinat :hover{
    background-color: rgb(3 45 226);
    color: white;

}
/* Diverse */

.diverse{
    background-color: rgb(255 255 255);
    
 
}
.angle{
    margin-bottom: 3rem;
}
.heading{
    font-size: 30px;
    color: rgb(33 37 41);
    margin-top: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
}
.offerpara{
    font-size: 18px;
    color: rgb(100, 105, 111);
    font-family: serif;
   
}
.cardblue{
    background-color:rgb(240, 34, 110);
    color: white;
 
    
    
 
}
.colorpink{
    background-color:
    rgb(184 147 9);
    color: white;
}
.bggreen{
    background-color:rgb(0 132 92);
    color: white;
}
/* Bussiness */

.business{
    background-color:rgb(245 247 251);
}
.busihaeding{
    font-size: 30px;
    color: rgb(33 37 41);
    margin-top: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
    text-align: center;

}
.busipara{
    font-size: 18px;
    color: rgb(100, 105, 111);
    font-family: serif;
    text-align: center;
   
}
.title{
    width: 170px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
}
.titlecolor{
    color: blue;
}
 
/* technology */

.technology{
    background-color: 
    rgb(248 249 250);
}
.techheading{
    font-size: 30px;
    color: rgb(33 37 41);
    margin-top: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
    text-align: center;
}
.techpara{
  
    color: rgb(100, 105, 111);
  
}
.mbspace{
    margin-bottom: 5rem;
    
}

/* frequently */

.frequen{
    background-image: url('D:\apmlework\src\assets\Group 10932.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
 
}
.accod{
    font-size: 16px;
    color: rgb(100, 105, 111);
    
}
.box{
    box-shadow: 5px 3px 10px 10px rgb(204, 193, 193);
    
   
}
/* fullstackDeveloper */
.stack{
    background-color: rgb(245 245 245);
}
.fullcard{
    background-image: url('D:\apmlework\src\assets\Group 10063.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 10px 40px 10px;
    border-radius: 20px;
}
.dedicated{
    font-size: 30px;
    font-weight: 600;
}
.ourpara{
    font-size: 18px;
    color: rgb(100, 105, 111);
    font-family: serif;
    text-align: center;
    
}
.cardimage{
    width: 15rem;
}
.border{
    border: 2px solid red;
    padding: 10px;
    border-radius: 50px 20px;
      
}
.cardbg{
    background-color: #dec8c8;
}
/* Appreciation */

.appreciation{
    background-color: 
    rgb(255 255 255);
 }
 .Mask{
    width: 25rem;
    box-shadow:  rgb(255, 255, 255) 20px 20px 0px -3px, rgb(222, 212, 212) 20px 20px;
    
 
 }
 .ampleworkheading{
  color: rgb(49 49 49);
 }
 .flaw{
    color: rgb(100, 105, 111);
    text-align: center;
    line-height: 30px;
 
 }
 .founder{
 color: rgb(180 180 180);
 }
 .iconlink{
    text-align: center;
 
}

.iconimage{
    background-color: rgb(29, 81, 255);
    font-size: 30px;
    color: white;
    padding: 2px;

 }
 /* sweatcoin */

 .sweat{
    background-color: rgb(245 245 245);
    font-size: 30px;
    color: rgb(33 37 41);
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
    padding: 30px 0px 20px 0px;
}
.ports{
    background-image: url('D:\apmlework\src\assets\Group 12766.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.newpara{
    font-size: 16px;
    color: white;
    line-height: 35px; 
}
.apple{
  
    border: 1px solid white;
    border-radius: 5px;
}
.down{
    line-height: 10px;
}
.line{
    line-height: 50px;
    font-size: 40px;
}
.success{
    line-height: 5px;
}

/* digitalize */

.digitalize{
    background-color:rgb(245 245 245);

} 
.digit{
    font-size: 30px;
    color: rgb(33 37 41);
    margin-top: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
    text-align: center;

}
 .card1{
    width: 18rem;
 }
  
 /* Registration */

 .res{
    background-color: 
    rgb(243 246 255);
}
.bordernone{
    border: none;
    background-color: rgb(243 246 255);
    border-bottom: 1px solid gray;
    border-radius: 0%;
   
}
.bordermessage{
    border: none;
    background-color: rgb(243 246 255);
    border-radius: 0%;
}
.buttonnone{
    background-color:rgb(243 246 255) ;
    border: none;
    color: blue;
}
.add{
    color: blue;
    font-size: 20px;
}
.checkbox{
    border: 1px solid rgb(219, 213, 213);
    background-color: #fff;
}
 
.input{
    border: none;
    background-color: rgb(243 246 255);
}
.border1{
     border-bottom: 1px solid gray;
}
.add{
    color: blue;
}
.yes{
    font-size: 10px;
}
.stat{
    background-color: rgb(7, 30, 181);
} 
.boss{
   
    border-radius: 40px;
}
.lines{
    line-height: 0px;
    font-size: 15px;
}
.linesr{
    font-size: 15px;
} 
.iconset{
    color: white;
    font-size: 25px;
    
}


 /* tooltechnology */

 .tool{
    background-color: rgb(22 45 66);
}
.experience{
    font-size: 40px;
    font-family: serif;
    line-height: 50px;
    font-weight: 400;
}
.exp{
    padding: 100px 0px 0px 0px;
}
.our{
    font-size: 20px;
    font-family: serif;
    line-height: 50px;
    font-weight: 200;
}
 
.mointorcard :hover{
     background-color: blue;
     color: white;
     transition: 2s ;
 
}
.mointorcard:hover .moniter{
    color: white; 
}
.moniter{
    color: blue;
}
 
 
.mointortitle1{
    width: 250px;
    height: 60px;
    font-family: serif;
    font-weight: 600;
}
.monitorpara1{
    font-size: 18px;
    font-family: serif;
    position: relative;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 1;
    pointer-events: none;
    transition: 0.3s ease-in-out;
   
}
 
 
 

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
}
 
 